/* logo animation  */
.bi {
    /* font-size: 24px; */
    /* Adjust the size as needed */
    animation: rotate 5s linear infinite;
    /* Apply the rotate animation */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Start with 0-degree rotation */
    }

    to {
        transform: rotate(360deg);
        /* End with 360-degree (full) rotation */
    }
}
/* logo animation  */